:root {
  background-color: #f1f1f1;

  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container {
  width: 100%;
}
.movies-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies-form {
  display: flex;
  flex-direction: column;
  width: 525px;
  padding: 0px 50px;
}
.movies-form .MuiFormControl-root {
  padding: 12px;
}
.movies-form .MuiInputBase-root {
  height: 40px;
}
